/* @media (min-height: 449px) and (min-width: 1031px) { */

body {
    margin: 0;
    padding: 0;
    border: 0;
    /* overflow: hidden; */
    overflow-x: hidden;
  }

  ul{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left: 60%;
    padding-top: 3%;
    line-height: 2;
  }

  li {
    font-size:25px;
    list-style-type:none; 
    padding:0 15px;
    font-family: Canela-Thin;
  }

  a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  
  .link {
    position: relative;
    transition: -webkit-clip-path 275ms ease;
    transition: clip-path 275ms ease;
    transition: clip-path 275ms ease, -webkit-clip-path 275ms ease;
  }
  .link:hover span::before, .link:focus span::before {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .link span {
    position: relative;
    display: inline-block;
    color: black;
  }
  .link span::before {
    position: absolute;
    content: attr(data-content);
    text-decoration: underline;
    -webkit-clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
            clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    transition: -webkit-clip-path 275ms ease;
    transition: clip-path 275ms ease;
    transition: clip-path 275ms ease, -webkit-clip-path 275ms ease;
    color: rgb(224, 109, 80);
  }
  
  span.wavy::before {
    -webkit-text-decoration-style: wavy;
            text-decoration-style: wavy;
  }

  main {
    padding: 2em;
    height: 200%;
    z-index: -2;
    font-family: Canela;
  }
  main h2 {
    margin-top: -7%;
  }

  .logo-style {
    color: black
  }

  .logo-style:hover{
    text-decoration: none;
    color: rgb(224, 109, 80);
    font-family: Canela-Med;
    }

  .desc {
    font-size: 35px;
    font-family: Canela;
    margin-top: 12%;
    margin-left: 10%;
    padding-right: 5%;
  }

  .secondrow {
    font-size: 40px;
    font-family: Canela-Med;
    margin-top: 8%;
    margin-left: 6%;
    padding-right: 5%;
  }

  .thirdrow li {
    font-size: 30px;
    margin-left: 10%;
    margin-top: 2%;
    cursor: auto;
  }

  .thirdrow {
    cursor: auto;
  }

  .chat-line {
    margin-top: 3%;
    font-size: 40px;
    padding-bottom: 10%;
  }

  .wrapper {
    display: flex;
    position: absolute;
    margin-left: 15%;
    height: 8%;
    margin-top: 5%;
  }

  .name {
    font-size: 70px;
    font-family: Canela;
    margin-left: -30%;
    animation: spin_greeting 22s infinite;
  }

  .words {
    overflow: hidden;
    margin-left: 10%;
  }

  .span {
    display:block;
    font-size: 70px;
    font-family: Canela;
    animation: spin_words 22s infinite;
    height: 100%;
  }

  @keyframes spin_greeting{
    2%{
      transform: translateX(0%);
    }
    12%{
      transform: translateX(19%);
    }
    20%{
        transform: translateX(35%);
    }
    29%{
        transform: translateX(20%); 
    }
    39%{
        transform: translateX(15%);
    }
    47%{
      transform: translateX(55%);
    }
    55%{
        transform: translateX(20%);
    }
    63%{
        transform: translateX(41%);
    }
    71%{
      transform: translateX(16%);
    }
    79%{
      transform: translateX(20%);
    }
    87%{
      transform: translateX(13%);
    }
    95%{
      transform: translateX(57%);
    }
    96%{
      transform: translateX(57%);
    }
    100%{
      transform: translateX(0%);
    }
  }

  @keyframes spin_words{
  2%{
      transform: translateY(10%);
  }
  7%{
    transform: translateY(-112%);
  }
  12%{
      transform: translateY(-100%);
  }
  15%{
      transform: translateY(-212%);
  }
  20%{
      transform: translateY(-200%);
  }
  24%{
      transform: translateY(-312%);
  }
  29%{
      transform: translateY(-300%);
  }
  34%{
      transform: translateY(-412%);
  }
  39%{
      transform: translateY(-400%);
  }
  42%{
    transform: translateY(-512%);
  }
  47%{
      transform: translateY(-500%);
  }
  50%{
      transform: translateY(-612%);
  }
  55%{
      transform: translateY(-600%);
  }
  58%{
      transform: translateY(-712%);
  }
  63%{
    transform: translateY(-700%);
  }
  66%{
    transform: translateY(-812%);
  }
  71%{
    transform: translateY(-800%);
  }
  74%{
    transform: translateY(-912%);
  }
  79%{
    transform: translateY(-900%);
  }
  82%{
    transform: translateY(-1012%);
  }
  87%{
    transform: translateY(-1000%);
  }
  90%{
    transform: translateY(-1112%);
  }
  93%{
    transform: translateY(-1100%);
  }
  }
  
  .marquee__wrapper {
    display: flex;
    align-items: center;
  }
  
  .marquee {
    --duration: 30s;
    --gap: var(--space);
    background-color: rgba(27, 50, 151, 0.266);
    width: 120%;
    margin-left: -10%;
    display: flex;
    overflow: hidden;
    margin-top: 10%;
    --space: 5rem;
  }
  
  .marquee__group {
    flex-shrink: 0;
    display: flex;
    color: #fff;
    font-size: 3.5rem;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-around;
    animation: scroll var(--duration) linear infinite;
  }
  
  .marquee__group p {
    margin: 0.2px 0;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(60%);
    }
  
    100% {
      transform: translateX(calc(-88% - var(--gap)));
    }
  }

  .email::before {
    content: "reach out!";
  }

  .email:hover::before {
    content: "email me!";
    text-decoration: none;
    font-family: Canela;
    color: rgba(27, 50, 151, 0.596);
    display: inline-block;
  }

  .right-btn a:hover {
    text-decoration: none;
    color: #000;
  }
  .right-btn a {
    color: #000;
  }

  #base-container {
    position: relative;
    font: 24px sans-serif;
    overflow: hidden;
  }

  #blurry-background {
    position: absolute;
    width: 50%;
    top: 20%;
    left: 20%;
    z-index: -1;
    filter: blur(6em);
  }
  
  .circle {
    position: absolute;
    width: 15em;
    height: 15em;
    border-radius: 50%;
    left: calc(60% - 5em);
    top: calc(50% - 5em);
  }
  
  .red {
    background-color: rgb(204, 84, 40);
    animation: redOrbit 25s linear infinite;
  }
  
  .blue {
    background-color: blue;
    animation: blueOrbit 25s linear infinite;
  }
  
  @keyframes redOrbit {
      from { transform: rotate(0deg) translateX(150%); }
      to { transform: rotate(360deg) translateX(150%); }
  }
  
  @keyframes blueOrbit {
      from { transform: rotate(0deg) translateX(-150%); }
      to { transform: rotate(360deg) translateX(-150%); }
  }

  .responsive {
    display: none;
  }
/* } */

  @font-face {
    font-family: 'Canela';
    src: url("../CanelaFont/Canela-ThinItalic-Trial.otf") format("opentype");
    font-weight: 100;
}

@font-face {
  font-family: 'Canela-Thin';
  src: url("../CanelaFont/Canela-Thin-Trial.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: 'Canela-Med';
  src: url("../CanelaFont/Canela-Regular-Trial.otf") format("opentype");
  font-weight: 50;
}

@media (max-height: 448px) or (max-width: 1031px) {
  #base-container {
    display: none;
  }
  .responsive {
    font-family: Canela;
    font-size: 5vw;
    text-align: center;
    margin-top: 20%;
  }

}