@media (min-height: 449px) and (min-width: 1031px) {

.page-transition {
    animation: transitionIn 1.5s;
    padding-bottom: 10%;
}

@keyframes transitionIn {
    from {
        opacity:0;
        transform: translateY(-12px);
    }
    to {
        opacity:1;
        transform: translateY(0); 
    }
}

.responsive {
  display: none;
}

}

@media (max-height: 448px) or (max-width: 1031px) {
    #base-container {
      display: none;
    }
    .responsive {
      font-family: Canela;
      font-size: 5vw;
      text-align: center;
      margin-top: 20%;
    }
  
  }