<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dina Orucevic</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A personal portfolio by Dina Orucevic" />

    <link
      href="https://fonts.googleapis.com/css?family=Cardo"
      rel="stylesheet"
    />

    <!-- Link to CSS -->
    <link rel="stylesheet" href="../css/about.css" />

    <link rel="icon" href="static/cloudsvg.png" />

    <!-- Load Bootstrap via CND -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous" />

  </head>
  <body>
            <div id="base-container">
                <div id="blurry-background">
                  <div class="red circle"></div>
                  <div class="blue circle"></div>
                </div>

                <ul>
                  <li><a class="link" href="about.html"><span class="wavy" data-content="about">about</span></a></li>
                  <li><a class="link" href="work.html"><span class="wavy" data-content="work">work</span></a></li>
                  <li><a class="link" href="misc.html"><span class="wavy" data-content="misc.">misc.</span></a></li>
              </ul>
               
                <main>
                  <h2 style="font-size:25px; text-decoration: none;"><a class="logo-style" href="home.html">Dina Orucevic</a></h2>

                  <h1 class="title">A &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Me
                  <img style="margin-left: -18%;" src="../static/boat.png" width="100px">
                  </h1>

                  <h2 style="font-family: Canela-Med; margin-top: 0" > ⁠— how do you do? 
                  </h2>

                  <p style="padding-right: 5%;">
                    <br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br><br>
                    
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages. <br><br>
                    
                    More recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  </p>

                  <!-- connect socials flexbox -->
                  <div class="connect">
                    <a href="https://github.com/dina-o"><img src="../static/github.png" alt=""  /></a>
                    <a href="mailto: dina.oorucevic@gmail.com"><img src="../static/email.png" alt=""  /></a>
                    <a href="https://www.linkedin.com/in/dinaorucevic/"><img src="../static/linkedin.png" alt=""  /></a>
                    <a href="https://devpost.com/dinacreates"><img src="../static/devpost.png" alt=""  /></a>
                   </div>

                   <hr style="margin-top: 10%;">

                   <h2 style="font-family: Canela-Med; margin-top: 5%;" > ⁠— my current favourites </h2>

                      <div class="bubbles">
                          <div class="square book">
                              <span></span>
                              <span></span>
                              <span></span>
                          </div>
                          <div class="square superpower">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="square movie">
                          <span></span>
                          <span></span>
                          <span></span>
                      </div>
                        </div>

                        <!-- footer -->
                      <footer style="position: absolute; bottom:0; height: 5rem; width: 90%; font-size: 18px; display: flex; justify-content: space-between;">
                        <div class="left-btn">
                          Made with <b style="color:#d1867c">love</b> and endless streaming hours of The Beatles <br> <p style="font-size: 14px; margin-top: 2%;">  ©️ Dina Orucevic</p>
                        </div>
                        <div class="right-btn">
                          <a href="mailto: dina.oorucevic@gmail.com">Email</a> <br>
                          <a href="https://www.linkedin.com/in/dinaorucevic/">LinkedIn</a>
                        </div>
                      </footer>

                </main>
              </div>
  </body>
</html>